<h1>グループ０</h1>

<h2>英単語の学習</h2>

<h3>英単語テスト</h3>

<table>
  <thead>
    <tr>
      <th>問題</th>
    </th>
  </thead>

  <tbody>
    <tr>
      <td><%= @wordbookquiz.japanese %></td>
    </th>
  </tbody>
</table>
<%= link_to '答えを見る', wordbooks_path, :data => {:confirm => "正解は、#{@wordbookquiz.english}"} %>
