<h1>グループ０（夏休みの計画）</h1> 
<h2>目次</h2> 
<hr> 
<p> 
<a href="/kanri_tables">ユーザ管理表</a> 
</p> 
<a href="/kanri_tables">
<img src="https://cdn.pixabay.com/photo/2017/07/11/13/56/user-2493635_960_720.png" height="64" />
</a> 
<hr> 
<P> 
<a href="/wordbooks">英語の宿題</a> 
</p> 
<a href="/wordbooks">
<img src="https://cdn.pixabay.com/photo/2014/07/11/17/06/fountain-390028_960_720.jpg" height="64" /> 
</a>
<hr> 
<p> 
<a href="/jankens">じゃんけんの練習</a> 
</p> 
<a href="/jankens">
<img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Human-Hands-Front-Back.jpg" height="64" /> 
</a> 
<hr> 
<p> 
<a href="/hanabis">花火の日程表</a> 
</p> 
<a href="/hanabis">
<img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/ColorfulFireworks.png" height="64" /> 
</a> 
<hr> 
<p> 
時刻：<%= Time.now %> 
</p> 
